# Node
node_modules/
auth_info/
tokens/
session/
.wppconnect/
.wwebjs_auth/
.wwebjs_cache/
package-lock.json
# scripts/

# Python
__pycache__/
.env
.env.example
credentials.json
.DS_Store
g
# Logs & temp
pm2.log
*.log

