# Node
node_modules/
auth_info/
tokens/
session/
.wppconnect/
.wwebjs_auth/
.wwebjs_cache/
package-lock.json
scripts/

# Python
__pycache__/
.env
credentials.json
.DS_Store

# Logs & temp
pm2.log
*.log
root@47.245.111.31
