fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
alembic
httpx
pydantic-settings
apscheduler
google-api-python-client
google-auth-httplib2
google-auth-oauthlib